 
      body {
        /* background-color: #f13e3e; */
        font-family: "Trirong", serif;
        text-align: center;
        /* background-image: url(image1.jpg); */
        
    }
   .form-control {
        text-align: left;
        margin-bottom: 25px;
    }

    form {
        background-color: #ffffff;
        max-width: 500px;
        margin: 50px auto;
        padding: 30px 20px;
        box-shadow: 2px 5px 10px rgba(12, 1, 1, 0.5);
    }
    button{
        color: blue;
    }
    .flexboxing
    {
        background-color: blue;
        display: flex;
        

    }
    .flexboxing > div {
        background-color: #f1f1f1;
       font-size: 30px;
       justify-content:space-around;
       align-items: center;
       margin: 10px;
       padding: 20px;
       width: full;
       height: 100%;
         
}
    